<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор расчета калорий</title>
</head>
<body>
<form action="" method="">
    <p>
        <input id="login" type="email" name="login" required>
        <label for="login">login</label>
    </p><p>
    <input id="password" type="password" name="password" required>
    <label for="password">password</label>
</p><p>
    <button formaction="/sing-in" formmethod="post" type="submit">Войти</button>
    <button formaction="/incorrect-password" formmethod="post" type="submit">Регистрация</button>
</p>
</form>

</body>
</html>