<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор расчета калорий</title>
</head>
<body>

    <form action="/sing-up" method="post">
    <p>
        <input id="login" type="email" name="login" required>
        <label for="login">login</label>
    </p><p>
        <input id="password" type="password" name="password" minlength="6" maxlength="16" required>
        <label for="password">password</label>
    </p><p>
        <input type="submit" value="Регистрация">
    </p>
    </form>
</form>
</body>
</html>